// $background-color_1: var(--background-color);

.css-13cymwt-control {
  width: auto;
  margin-left: -4px;
}
.css-t3ipsp-control {
  //  border-width: 0px !important;
  box-sizing: 0 !important;
  //  border-radius: 0% !important;
  box-shadow: none !important;
  position: relative !important;

  flex-wrap: nowrap !important;
}
.timepickerbarblock {
  margin-top: 24px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
}
.timepickerbar {
  margin: 0px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.timepickerbar--inside {
  display: flex;
}
.timepicker--hoursbar {
  border: 0px solid gray;
  margin-left: 14px;
  width: 100px;
}
.timepicker--minutesbar {
  align-items: right;
  margin-top: 24px;
  padding: 40px;
  border: 0px solid gray;
  background-color: #ffffff;
  border-radius: 5px;
}
.timepicker--minutes {
  position: relative;
}
.timepicker--icon {
  width: 24px;
  height: 24px;
  margin: 0px;
}
.timepicker--grid--hypen{
    margin: 0px 2PX;
}
.timepicker--meridiembar {
  border: 0px solid gray;
  width: 86px;
  margin-left: 4px;
  margin-right: 8px;
}
.css-qbdosj-Input{
  font-size: 13px;
}