.inbulidcalenderb {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family);
}
.inbulidcalenderb--today--date {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  margin: 24px;
  flex-direction: row-reverse;
}
.inbulidcalender {
  width: var(--calendar-width);
  border: 0px solid var(--gray);
  align-items: center;
  margin: 0px 24px;
  height: auto;
  background-color: var(--background-color);
  border: 0px;
  border-radius: var(--border-radius);
}
.inbulidcalender--grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
}
.inbulidcalender--grid--chevronleft {
  border: 0px solid var(--gray);
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  margin: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: var(--background-color);
}
.inbulidcalender--grid--chevronleft:hover {
  background: var(var(--hover-color));
}
.inbulidcalender--grid--showingdate {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  color: var(--text-color);
}
.inbulidcalender--grid--span3 {
  margin: 12px 0px !important;
  grid-column: span 3;
  font-size: 17px !important;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
  color: var(--text-color);
}
.inbulidcalender--grid--button {
  border: 0px solid var(--gray);
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: var(--background-color);
  transition: all 0.2s linear;
  font-family: var(--font-family);
  color: var(--text-color);
}
.inbulidcalender--grid--button:hover {
  background: var(var(--hover-color));
}
.inbulidcalender--grid--button:active {
  background: var(--active-color);
  border: 0px solid var(--gray);
  outline: 0;
}
.inbulidcalender--grid--button.autofocused {
  background: var(--primary-color);
  color: var(--background-color);
  border: 0px solid var(--gray);
  outline: 0;
}
.inbulidcalender--grid--weeksymbol {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}
.inbulidcalender--grid--emptybutton {
  border: 0px solid var(--gray);
  background-color: var(--background-color);
  width: 100%;
  height: 32px;
  transition: color 0.15s ease-in-out;
}
.inbulidcalender--today--btn {
  font-weight: 600;
  width: 31%;
  height: 93%;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  border: 0.7px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  transition: all 150ms ease;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 24px;
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-family: var(--font-family_montserrat);
  transition: all linear 0.2s;
  &:hover {
    box-shadow: 0px 3px 9px -2px #006aff43;
    transition: all 0.2s linear;
  }
}
