#root {
  $heightforcomponent: 5px;
  $margintopheight: 30px;
}
.maincontentblock--delete--block {
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  width: 1358px;
  height: 672px;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.maincontentblock--delete {
  margin-top: 40px;
  border: 1px solid var(--gray);
  width: fit-content;
  background-color: #cd0372;
  align-items: center;
  text-align: center;
}
.maincontent--appointmentlist {
  padding: 24px 80px;
  background-color: #f3f6f9;
  border-radius: 15px;
  box-shadow: #cd0372;
}
.maincontent--appointmentlist ::-webkit-scrollbar {
  display: none;
}
.maincontent--appointmentlist--one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
}
.maincontent--appointmentlist--wish {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontent--appointmentlist--dateremin {
  display: flex;
  justify-content: space-between;
}
.maincontent--appointmentlist--date {
  margin: 18px 18px 0px 18px;
}
.maincontent--right--meetingoverview {
  margin-right: 40px;
  cursor: pointer;
  font-weight: 500;
  transition: all linear 0.2s;
  position: relative;
}
.maincontent--right--meetingoverview:after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0%;
  height: 1.5px;
  background: var(--primary-color);
  transition: all linear 0.1s;
  left: 0;
  text-decoration: none;
}
.maincontent--right--meetingoverview:hover {
  color: #003c91;
}
.maincontent--right--meetingoverview.active {
  color: var(--primary-color);
}
.maincontent--right--meetingoverview.active:after {
  width: 100%;
}
.maincontent--right--task {
  margin-top: 24px;
  border: 0px solid var(--gray);
  background: linear-gradient(
    to top,
    var(--background-color),
    var(--background-color),
    var(--secondary-color)
  );
  padding: 16px 24px;
  border-radius: 15px;
}
.maincontent--right--calendertitle {
  width: fit-content;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
  margin-top: 40px;
}
.maincontent--status {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.maincontent--status--card {
  border: 0px solid var(--gray);
  background: linear-gradient(
    to top,
    var(--background-color),
    var(--background-color),
    var(--secondary-color)
  );
  padding: 16px 24px;
  border-radius: 15px;
}
.maincontent--status--iconsize {
  width: 53px;
  height: 53px;
}
.maincontent--status--number {
  font-size: x-large;
  font-weight: 600;
}
.maincontent--datewithcontent {
  display: flex;
}
.maincontent--right--calenderdate {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.maincontent--right--calenderdate1 {
  padding: 4px 28px 4px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid var(--gray);
  background-color: var(--background-color);
  border-radius: 5px;
}
.maincontent--right--chevronleft {
  border: 0px solid var(--gray);
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: var(--background-color);
}
.maincontent--right--chevronleft:hover {
  background: linear-gradient(
    to left,
    var(--background-color),
    var(--secondary-color)
  );
}
.maincontent--right--chevronright {
  border: 0px solid var(--gray);
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: var(--background-color);
}
.maincontent--right--chevronright:hover {
  background: linear-gradient(
    to right,
    var(--background-color),
    var(--secondary-color)
  );
}
.maincontent--right--showingdate {
  font-size: 15px;
  letter-spacing: 0;
  margin-left: 4px;
  line-height: 28px;
  white-space: nowrap;
  margin-top: -4px;
  width: 100px;
}
.maincontent--right--calender {
  padding: 0px 12px 12px 12px;
  text-align: center;
  background-color: var(--background-color);
  margin: 20px;
  height: auto;
  border: 0px solid #bdabab;
  border-radius: 5px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}
.maincontent--right--contentblock {
  align-items: right;
  margin-top: 60px;
  padding: 0px 40px 40px 40px;
  border: 0px solid var(--gray);
  background-color: var(--background-color);
  border-radius: 5px;
  width: 880px;
  height: 600px;
  position: absolute;
  overflow-y: scroll;
}
.maincontent--right--linebar {
  display: flex;
  position: relative;
}
.maincontent--right--linebarnumber {
  width: 8px;
  margin-top: -8px;
  margin-left: 12px;
  font-size: 12px;
  display: flex;
  justify-content: right;
}
.maincontent--right--linebardiv {
  border: 0.4px solid #d8d8d8;
  width: 95%;
  height: 50px;
  border-bottom: 0px;
  border-right: 0px;
  margin-left: 8px;
}
.maincontent--right--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0px solid var(--gray);
  padding: 0px 12px;
  border-radius: 4px;
  color: var(--background-color);
  cursor: pointer;
  width: 830px;
  margin-left: 4px;
  position: absolute;
  z-index: 1;
}
.maincontent--right--contenttime {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.maincontent--right--statusmissed {
  color: red;
}
.maincontent--right--statusnot {
  color: blue;
}
.maincontent--right--statusdone {
  color: green;
}
.maincontent--right--trash {
  cursor: pointer;
}
.maincontent--right--plusbar {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.maincontent--right--plusbaricon {
  padding: 4px;
  margin-right: 8px;
  width: 20px;
  height: auto;
}
.maincontent--right--plusbartext {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  height: auto;
  font-weight: 500;
  width: 30%;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  border-style: solid;
  border-width: 0.7px;
  border-color: #dcdcdc;
  border-radius: 5px;
  background-color: var(--background-color);
  transition: all 150ms ease;
  color: black;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 24px;
}
.maincontent--right--plusbartext:hover {
  background: var(--active-color);
  border-color: var(--active-color);
  box-shadow: 0px 0px 9px -2px var(--shadow-color);
  transition: all 0.2s linear;
}
.maincontent--right--updatebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 20;
  margin-left: 300px;
  width: 450px;
  margin-top: 60px;
  padding: 8px 24px 24px;
  background-color: var(--background-color);
  border-radius: 15px;
  box-shadow: 5px 10px 18px var(--shadow-color);
}
.maincontent--right--updatebar ::-webkit-scrollbar {
  display: none;
}
.timepicker--icon {
  width: 24px;
  height: 24px;
  margin: 24px 24px;
}
.maincontent--right--addappointment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 8;
  margin-left: 300px;
  margin-top: 40px;
  width: 400px;
  padding: 8px 8px 24px 24px;
  background-color: var(--background-color);
  border-radius: 15px;
  box-shadow: 0px 0px 9px -2px var(--shadow-color);
}
.maincontent--right--addappointment ::-webkit-scrollbar {
  display: none;
}
.maincontent--right--cancelbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.maincontent--right--cancelbar h2 {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--font-family_montserrat);
}
.maincontent--right--cancelicon {
  width: 22px;
  height: 22px;
  padding: 12px;
  border-radius: 50%;
}
.maincontent--right--cancelicon:hover {
  background-color: #f6f6f6;
}
.maincontent--right--appointmenttitle {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.maincontent--right--appointmentblock {
  display: flex;
  flex-direction: column;
}
.maincontent--right--appcalender {
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontent--right--apptime {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.maincontent--right--apptheme {
  display: flex;
  justify-content: left;
  margin: 20px 0 0;
  position: relative;
}
.maincontent--right--apptheme label {
  position: absolute;
  font-size: 11px;
  background: var(--background-color);
  top: -6px;
  left: 7px;
  padding: 0 7px;
  font-weight: 600;
}
.maincontent--right--appthemeinput {
  border: 1px solid #e7e7e7 !important;
  color: #333;
  height: fit-content;
  padding: 12px;
  resize: none;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  width: 100%;
  font-family: var(--font-family_montserrat);
}
.maincontent--right--appthemeinput:focus-visible {
  border-bottom: 1px solid #505050;
  transition: all 0.3s linear;
  outline: 0px solid var(--background-color);
}
.maincontent--right--appsavebar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.maincontent--right--appsave {
  height: 42px;
  padding: 12px 24px;
  border-style: solid;
  border-color: #dcdcdc;
  border-radius: 4px;
  background-color: var(--primary-color);
  transition: all 150ms ease;
  color: black;
  line-height: 24px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 28px;
  color: var(--background-color);
  border-width: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: var(--font-family_montserrat);
  font-size: 14px;
  font-weight: 600;
}
.maincontent--right--appsave:hover {
  background: #0059d6;
  color: var(--background-color);
  box-shadow: 0px 0px 9px -2px var(--shadow-color);
  transition: all 0.2s linear;
}
.maincontent--right {
  margin-top: 40px;
  padding: 40px 40px;
  background-color: #ffedfb;
  border-radius: 15px;
  box-shadow: #bb2d7b;
}
.maincontent--right ::-webkit-scrollbar {
  display: none;
}
.addappointment--content-month {
  margin-left: 467px;
}
