@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
$font-family_1: "Rubik";
$background-color_1: #ffffff;
$background-color_2: #54bff8;
$background-color_3: #6b72ee;
$background-color_4: #fe505a;
$background-color_5: #fa7f58;
$background-color_6: #1fcf94;

.meetingoverview--block {
  margin: 40px;
  margin-top: 80px;
  margin-right: 0px;
}
.meetingoverview--right--task {
  margin-top: 24px;
  border: 0px solid gray;
  background: linear-gradient(to top, #ffffff, #ffffff, #b96cf4);
  padding: 16px 24px;
  border-radius: 15px;
}
.meetingoverview--right--calendertitle {
  width: fit-content;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: 36px;
}
.meetingoverview--status {
  display: flex;
  justify-content: space-between;
  position: static;
}
.meetingoverview--status--card {
  margin-top: 16px;
  border: 0px solid gray;
  background: #ffffff;
  padding: 24px 24px;
  border-radius: 15px;
  width: 190px;
  margin-right: 32px !important;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.meetingoverview--status--iconsize--div {
  padding: 8px;
  width: fit-content;
  border-radius: 12px;
  padding-bottom: 4px;
}
.meetingoverview--status--iconsize {
  width: 18px;
  height: 18px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg)
    brightness(108%) contrast(102%);
}
.meetingoverview--status--title {
  margin-top: 12px;
  font-family: $font-family_1;
  font-size: 16px;
  font-weight: 400;
}
.meetingoverview--status--number {
  font-size: x-large;
  font-weight: 600;
}
.meetingoverview--upcoming--block {
  display: inline-grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  column-gap: 24px;
}
.meetingoverview--upcoming {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  width: 1300px;
}
.meetingoverview--card {
  margin-top: 16px;
  border: 0px solid gray;
  background: #ffffff;
  padding: 12px 24px 24px 24px;
  margin-right: 32px;
  border-radius: 15px;
  width: 190px;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.meetingoverview--card--starts {
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}
.meetingoverview--card--count {
  font-size: 14px;
  font-weight: 500;
}
.meetingoverview--upcoming--content--date {
  padding: 4px 0px;
  font-size: 14px;
  font-weight: 500;
  &.missed{
    margin-top: 12px;
  }
}

.meetingoverview--upcoming--content--title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 4px;
  width: 184px;
  span {
    margin-right: 10px;
    font-size: 13px;
  }
}

.blue {
  background-color: $background-color_2;
}

.darkblue {
  background-color: $background-color_3;
}
.red {
  background-color: $background-color_4;
}
.orange {
  background-color: $background-color_5;
}
.green {
  background-color: $background-color_6;
}
.blueb {
  background: linear-gradient(to top, #ffffff, #ffffff, #d7f1ff);
  background-color: $background-color_2;
}
.darkblueb {
  background: linear-gradient(to top, #ffffff, #ffffff, #d9dbff);
  background-color: $background-color_3;
}
.redb {
  background: linear-gradient(to top, #ffffff, #ffffff, #ffd8da);
  background-color: $background-color_4;
}
.orangeb {
  background: linear-gradient(to top, #ffffff, #ffffff, #ffe1d8);
  background-color: $background-color_5;
}
.greenb {
  background: linear-gradient(to top, #ffffff, #ffffff, #ddfff4);
  background-color: $background-color_6;
}
.meetingoverview--upcoming--image {
  padding: 0px 60px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 15px;
  height: 140px;
  margin-left: 0px !important;
}
.statistics {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 52px;
  column-gap: 24px;
  width: 600px;
  margin: 24px;
  justify-content: space-between;
}
.statistics----right--calendertitle {
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.statistics--background {
  width: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 12px;
  border: 1px solid rgb(255, 255, 255);
}
