:root {
  --background-white: #ffffff;
  --color-darkgray: rgb(11, 53, 88);
  --color-lightgray: rgb(50, 51, 56);
  --font-family-rubik: "Rubik", sans-serif;
  --font-family-montserrat: "Montserrat", sans-serif;
  --hover-blue: #4646ce;
  --primary-color: #006bff;
  --secondary-color: #b96cf4;
  --text-color: #333333;
  --gray: gray;
  --active-color: #f8f8f8;
  --shadow-color: #888888;
  --border-radius: 5px;
}
.App {
  overflow: hidden;
  background-color: var(--background-white);
}
body {
  font-family: "Montserrat", sans-serif;
}
